In [1]:
import requests
import pandas as pd 
import time

In [2]:
def all_countries_names():
    url = "https://world-population.p.rapidapi.com/allcountriesname"
    headers = {
        'x-rapidapi-key': "134117ae79msh40bb2931f9c7e4ap1aa445jsn8d1982670b09",
        'x-rapidapi-host': "world-population.p.rapidapi.com"
        }
    response = requests.request("GET", url, headers=headers)
    return response.json()

In [3]:
def population_country(country):
    url = "https://world-population.p.rapidapi.com/population"
    querystring = {"country_name":country}
    headers = {
        'x-rapidapi-key': "134117ae79msh40bb2931f9c7e4ap1aa445jsn8d1982670b09",
        'x-rapidapi-host': "world-population.p.rapidapi.com"
        }
    response = requests.request("GET", url, headers=headers, params=querystring)
    return response.json()

In [4]:
all_countries = all_countries_names()['body']['countries']

In [5]:
lst = []

In [6]:
print("Please wait while Fetching apopulation of the Countries !! ")

Please wait while Fetching apopulation of the Countries !!

In [7]:
for i in all_countries : 
    lst.append({ "Country" : i , "Population" : population_country(i)['body']['population'] })

In [8]:
df = pd.DataFrame( lst )

In [9]:
df.head()

         Country  Population
0          China  1439323776
1          India  1380004385
2  United States   331002651
3      Indonesia   273523615
4       Pakistan   220892340

In [10]:
def  all_countries():
    url = "https://api.covid19api.com/countries"
    payload={}
    headers = {}
    response = requests.request("GET", url, headers=headers, data=payload, timeout=10)
    return response.json()

def get_stats_country(country , from_date , to_date ):
    url = "https://api.covid19api.com/total/country/{}?from={}&to={}".format(country , from_date , to_date )
    payload={}
    headers = {}
    response = requests.request("GET", url, headers=headers, data = payload )
    return response

In [11]:
countries = pd.DataFrame(all_countries())

In [12]:
countries.to_csv("slugs_countries.csv" , index = False)

In [13]:
slugs = countries['Slug'].to_list()
from_date = "2020-03-01T00:00:00Z" 
to_date = "2021-08-02T00:00:00Z"

In [14]:
all_Stats = []
all_dataframes = []

In [15]:
for i in slugs: 
    try:
        ret = get_stats_country( i , from_date , to_date )
        df = pd.DataFrame( ret.json() )
        all_dataframes.append( df )
        time.sleep( 3 )
    except:
        print( get_stats_country( i  , from_date , to_date ).text )

In [16]:
df = pd.concat( all_dataframes )

In [17]:
df.shape

(99840, 12)

In [18]:
df.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
515,C么te d'Ivoire,,,,,0,0,49911,326,49117,468,2021-07-29T00:00:00Z
516,C么te d'Ivoire,,,,,0,0,50004,328,49187,489,2021-07-30T00:00:00Z
517,C么te d'Ivoire,,,,,0,0,50135,329,49261,545,2021-07-31T00:00:00Z
518,C么te d'Ivoire,,,,,0,0,50278,330,49389,559,2021-08-01T00:00:00Z
519,C么te d'Ivoire,,,,,0,0,50341,332,49461,548,2021-08-02T00:00:00Z

In [11]:
df.to_csv("all_counties_stats.csv" , index = False )

In [19]:
df[df['Country'] =='Egypt'].head()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,Egypt,,,,,0,0,2,0,1,1,2020-03-01T00:00:00Z
1,Egypt,,,,,0,0,2,0,1,1,2020-03-02T00:00:00Z
2,Egypt,,,,,0,0,2,0,1,1,2020-03-03T00:00:00Z
3,Egypt,,,,,0,0,2,0,1,1,2020-03-04T00:00:00Z
4,Egypt,,,,,0,0,3,0,1,2,2020-03-05T00:00:00Z

In [20]:
df = df.reset_index()

In [21]:
df = df.drop(columns = ['index'])

In [22]:
df.to_csv("all_counties_stats.csv" , index = False )

In [23]:
df.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
99835,C么te d'Ivoire,,,,,0,0,49911,326,49117,468,2021-07-29T00:00:00Z
99836,C么te d'Ivoire,,,,,0,0,50004,328,49187,489,2021-07-30T00:00:00Z
99837,C么te d'Ivoire,,,,,0,0,50135,329,49261,545,2021-07-31T00:00:00Z
99838,C么te d'Ivoire,,,,,0,0,50278,330,49389,559,2021-08-01T00:00:00Z
99839,C么te d'Ivoire,,,,,0,0,50341,332,49461,548,2021-08-02T00:00:00Z

In [24]:
D = set(slugs).difference(set(df['Country'].unique()))

In [25]:
df['Country'].nunique()

192

In [26]:
len(slugs)

248

In [27]:
set(countries['Country']).difference(df['Country'].unique())

{'ALA Aland Islands',
 'American Samoa',
 'Anguilla',
 'Antarctica',
 'Aruba',
 'Bermuda',
 'Bouvet Island',
 'British Indian Ocean Territory',
 'British Virgin Islands',
 'Cayman Islands',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'Cook Islands',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Guernsey',
 'Heard and Mcdonald Islands',
 'Hong Kong, SAR China',
 'Isle of Man',
 'Jersey',
 'Korea (North)',
 'Macao, SAR China',
 'Martinique',
 'Mayotte',
 'Montserrat',
 'Nauru',
 'Netherlands Antilles',
 'New Caledonia',
 'Niue',
 'Norfolk Island',
 'Northern Mariana Islands',
 'Pitcairn',
 'Puerto Rico',
 'R茅union',
 'Saint Helena',
 'Saint Pierre and Miquelon',
 'Saint-Barth茅lemy',
 'Saint-Martin (French part)',
 'South Georgia and the South Sandwich Islands',
 'Svalbard and Jan Mayen Islands',
 'Tokelau',
 'Tonga',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'US Minor Outlying Islands',
 'Virgin Islands, US',
 'Wallis and Futuna Islands',
 'Western Sahara'}

In [28]:
countries[countries['Country'] == 'Tokelau']

     Country     Slug ISO2
245  Tokelau  tokelau   TK

In [29]:
get_stats_country('tokelau' , from_date , to_date ).json()

[]

In [30]:
df.shape

(99840, 12)

In [47]:
# handle cummulative sum issue in the data frame 
df = pd.read_csv("data_countries/all_countries_stats.csv")

In [48]:
df.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
92155,Maldives,NaN,NaN,NaN,NaN,0,0,71709,205,66090,5414,2021-06-19T00:00:00Z
92156,Maldives,NaN,NaN,NaN,NaN,0,0,71896,206,66379,5311,2021-06-20T00:00:00Z
92157,Maldives,NaN,NaN,NaN,NaN,0,0,72149,206,67148,4795,2021-06-21T00:00:00Z
92158,Maldives,NaN,NaN,NaN,NaN,0,0,72294,207,67507,4580,2021-06-22T00:00:00Z
92159,Maldives,NaN,NaN,NaN,NaN,0,0,72466,207,67886,4373,2021-06-23T00:00:00Z

In [49]:
df = df[['Country','Recovered','Active','Confirmed','Deaths','Date']]

In [50]:
prev_country = df['Country'][0] 
prev_value_conf = df['Confirmed'][0] 
prev_value_death = df['Deaths'][0] 
prev_value_recovered = df['Recovered'][0] 

for i in range( 1  , df.shape[0] ):
    if df['Country'][i] == prev_country : 
        
        temp_1 = df['Confirmed'][i] 
        temp_2 = df['Deaths'][i] 
        temp_3 = df['Recovered'][i] 
        
        df['Confirmed'][i] = df['Confirmed'][i] - prev_value_conf 
        df['Deaths'][i] = df['Deaths'][i] - prev_value_death 
        df['Recovered'][i] = df['Recovered'][i] - prev_value_recovered 
        prev_value_conf = temp_1
        prev_value_death = temp_2 
        prev_value_recovered = temp_3
    else:
        
        prev_country = df['Country'][i] 
        prev_value_conf = df['Confirmed'][i] 
        prev_value_death = df['Deaths'][i] 
        prev_value_recovered = df['Recovered'][i]

<ipython-input-50-ed6fd1041bd3>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Confirmed'][i] = df['Confirmed'][i] - prev_value_conf
<ipython-input-50-ed6fd1041bd3>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Deaths'][i] = df['Deaths'][i] - prev_value_death
<ipython-input-50-ed6fd1041bd3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Recovered'][i] = df['Recovered'][i] - prev_value_recovered

In [55]:
df.tail()

        Country  Recovered  Active  Confirmed  Deaths                  Date
92155  Maldives        912    5414        211       2  2021-06-19T00:00:00Z
92156  Maldives        289    5311        187       1  2021-06-20T00:00:00Z
92157  Maldives        769    4795        253       0  2021-06-21T00:00:00Z
92158  Maldives        359    4580        145       1  2021-06-22T00:00:00Z
92159  Maldives        379    4373        172       0  2021-06-23T00:00:00Z

In [56]:
df.to_csv("Cleaned_countries_stat.csv" , index = False)